.header {
    padding: 20px;
    text-align: center;
    color:#0288D1
}
body {
    background-color: #F9FBE7;
}
.heading {
    color: #689F38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.text {
    color: #263238;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
