.header {
    color:#0288D1;
    padding: 20px;
    text-align: center;
}
.intro {
    color: #263238;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: center
}
body {
    background-color: #F9FBE7;
}
.features {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: left;
}
.cta {
    color: #263238;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
